#logo_navigation{
    display: flex;

}
header{
    display: block;
    width: 100%;
    height: 400px;
}
#logo{
    width: 30%;
    height: 150px;
    background-color: royalblue;
}
nav{
    width: 70%;
    height: 150px;
    background-color: aqua;
}
ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;

}
ul li {
    padding: 50px;
    background-color: chartreuse;


}